.header {
    .header-container {
        background-color: $clrLogoGreen;
        background:url('../../images/sunset_hammock.jpg');
        background-size: 100% 100%;
        width: 100vw;
        .title-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                display: inline-block;
                font-family: 'Quicksand-Bold';
                width: fit-content;
                // opacity: 0.9;
                line-height: 40px;
                padding: 0 30px;
                span {
                    color: $clrLogoGreen;
                    // background-color: $clrLogoBlk;
                }
            }
        }
        .greet-container {
            margin-bottom: 150px;
        }
        nav {
            .nav-btn-container {
                display: flex;
                justify-content: center;
                gap: 60px;
                padding-bottom: 50px;
            }
        }
    }
}