.header {
    .header-container {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: $clrLogoGreen;
        .title-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                display: inline-block;
                font-family: 'Quicksand-Bold';
                width: fit-content;
                opacity: 0.9;
                line-height: 40px;
                padding: 0 30px;
                span {
                    color: $clrLogoGreen;
                    background-color: $clrLogoBlk;
                }
            }
        }
        .greet-container {
            margin-bottom: 50px;
        }
        nav {
            .nav-btn-container {
                display: flex;
                justify-content: center;
                gap: 35px;
            }
        }
    }
}