    .clean-list>li {
        box-shadow: 0 0 4px 1px #0000003b;
        cursor: pointer;
        text-align: center;
    }
    
    .user-card-container {
        background: rgba(91, 53, 53, 0.2);
        background-color: rgba(255, 255, 255, 0.06);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        height: 0;
        margin-top: 80px;
        padding-bottom: 22%;
        /* 16:9 */
        position: relative;
        color: white;
        text-align: center;
        width: 300px;
        li {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .avatar-image {
                width: 80%;
                margin-top: 7%;
            }
        }
    }
    
    @media only screen and(max-width: 1000px) {
        .user-card-container {
            padding-bottom: 350px;

        }
    } 
    
    @media only screen and(max-width: 730px) {
        .user-card-container {
            // width: 400px;
        }
    }