.card {
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    height: 220px;
    overflow: hidden;
    position: relative;
    width: 370px;
  }

.card:before {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .card-text {
    color: #6f7886;
    margin-left: 30px;
    margin-top: 100px;
    position: relative;
    z-index: 2;
  }