// Font families
@font-face {
    src: url(../../fonts/quicksand/Quicksand-Light.ttf);
    font-family: Quicksand-Light;
}

@font-face {
    src: url(../../fonts/quicksand/Quicksand-Regular.ttf);
    font-family: Quicksand-Regular;
}

@font-face {
    src: url(../../fonts/quicksand/Quicksand-Medium.ttf);
    font-family: Quicksand-Medium;
}

@font-face {
    src: url(../../fonts/quicksand/Quicksand-SemiBold.ttf);
    font-family: Quicksand-SemiBold;
}

@font-face {
    src: url(../../fonts/quicksand/Quicksand-Bold.ttf);
    font-family: Quicksand-Bold;
}