// Colors
$clrLogoGreen: greenyellow;
$clrLogoBlk: black;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;

// Font Sizes
$defFontSize: 16px;
