.settings {
    .title-container {
        margin-bottom: 115px;
        height: 65px;
    }
    .input-container h3 {
        margin-bottom: 20px;
        label {
            margin-right: 10px;
        }
    }
}
